.game-item {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* 图片和描述之间的间距 */
    margin-bottom: 20px; /* 每个游戏项之间的间距 */
}

.game-cover {
    width: 200px; /* 图片宽度 */
    height: auto;
}

.game-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.game-name {
    font-size: 18px; /* 增大字体大小 */
    font-weight: bold; /* 字体加粗 */
    margin-bottom: 30px; /* 名称和样式之间的间距 */
}

.game-time {
    align-self: center; /* 确保自身垂直居中 */
}

.style-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.style-box {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #00000060;
    color: grey;
}